<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>New Request Received</title>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    ​
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
      bgcolor="#F9FAFC"
      style="
        width: 100%;
        background-color: #f9fafc;
        margin: 0 auto;
        padding: 0 16px;
      "
      width="100%"
    >
      <td valign="top" align="center" style="vertical-align: top;">
        <table
          cellpadding="0"
          cellspacing="0"
          border="0"
          style="width: 100%; margin: 22px auto; max-width: 616px;"
          width="100%"
        >
          <td style="vertical-align: top;" valign="top">
            <table
              cellpadding="0"
              cellspacing="0"
              border="0"
              style="width: 100%; padding: 22px;"
              width="100%"
            >
              <tr>
                <td style="vertical-align: top; color: #103742;" valign="top">
                  <span
                    style="
                      font-size: 24px;
                      font-weight: 600;
                      font-family: Poppins, sans-serif;
                      margin: 0;
                      text-transform: uppercase;
                    "
                    >New Request Received</span
                  >
                </td>
              </tr>
            </table>
            <table
              cellpadding="0"
              cellspacing="0"
              border="0"
              style="width: 100%;"
              width="100%"
            >
              <td style="vertical-align: top; padding: 22px;" valign="top">
                <table
                  cellpadding="0"
                  cellspacing="0"
                  border="0"
                  style="
                    width: 100%;
                    background-color: #fff;
                    box-shadow: 0 0 16px rgba(87, 86, 90, 0.08);
                    border-radius: 10px;
                    padding: 10px16px;
                  "
                  width="100%"
                  bgcolor="#ffffff"
                >
                  <td align="center" style="vertical-align: top;" valign="top">
                    <table
                      cellpadding="0"
                      cellspacing="0"
                      border="0"
                      style="width: 100%; text-align: left;"
                      width="100%"
                      align="left"
                    >
                      <tr>
                        <td
                          style="
                            vertical-align: top;
                            font-family: Poppins, sans-serif;
                            padding: 11px;
                          "
                          valign="top"
                        >
                          <table
                            cellpadding="0"
                            cellspacing="0"
                            border="0"
                            style="width: 100%;"
                            width="100%"
                          >
                            <tr>
                              <td
                                style="
                                  vertical-align: top;
                                  padding: 11px;
                                  font-size: 14px;
                                "
                                valign="top"
                              >
                                <p>Hello Adeel,</p>
                                <p>
                                  The new request received with Stakeholder Name
                                  :<strong> <%= data.name %></strong>, Company
                                  Name :
                                  <strong> <%= data.companyName %> </strong>,
                                  and Email : <strong><%= data.email %></strong>
                                </p>
                                <p>Thanks</p>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </table>
              </td>
            </table>
            <table
              cellpadding="0"
              cellspacing="0"
              border="0"
              style="width: 100%;"
              width="100%"
            >
              <tr>
                <td
                  align="center"
                  style="
                    vertical-align: top;
                    font-family: Poppins, sans-serif;
                    padding: 22px;
                    text-align: center;
                    font-size: 14px;
                  "
                  valign="top"
                ></td>
              </tr>
            </table>
          </td>
        </table>
      </td>
    </table>
    ​
  </body>
</html>
